@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
.main {
  background-color: blue;
  width: calc(100% - 45px);
  height: 100px;
  position: absolute;
  right: 0;
}

body {
  height: 200vh;
}

.sidebar {
  background-color: #EEF8F8;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  min-height: 100vh;
  -webkit-clip-path: polygon(0 0, 18% 0, 18% 100%, 0% 100%);
          clip-path: polygon(0 0, 18% 0, 18% 100%, 0% 100%);
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
}

.sidebar.extend {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.sidebar.extend .logo {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.wrapper {
  display: flex;
}

.logo {
  -webkit-clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
          clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  transition: 0.4s ease;
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.logo span {
  color: #FC7171;
}
.logo img {
  width: 2.5rem;
  height: 2.5rem;
}
.logo h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
  color: #3a3a3a;
}

.navigation ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
.navigation ul li a {
  text-decoration: none;
  display: block;
  padding: 0.9rem 0.9rem 0.9rem 0.9rem;
  color: #FC7171;
}
.navigation ul li a:hover {
  background-color: #DDFAFA;
}
.navigation ul li a i {
  margin-right: 0.9rem;
}

.logout {
  margin-top: auto;
}
.logout ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}
.logout ul li a {
  text-decoration: none;
  display: block;
  background-color: #FC7171;
  padding: 0.9rem 0.9rem 0.9rem 0.9rem;
  color: White;
}
.logout ul li a:hover {
  background-color: #fc8383;
}
.logout ul li a i {
  margin-right: 0.9rem;
}
.logout ul li .custom-button {
  color: black;
  background-color: #EEF8F8;
  padding: 0.9rem;
  left: 0;
  transform: translateX(0) rotate(0);
  transition: 0.4s ease;
  position: relative;
}
.logout ul li .custom-button:hover {
  background-color: #DDFAFA;
}
.logout ul li .custom-button.extend {
  transform: translateX(-100%) rotate(180deg);
  left: 100%;
}
